/*###################### Tabela #############################*/
table, th, td {
    border: 1px solid;
}
table{    
    border-collapse: collapse;    
}
td {
    text-align: center;
    height: 40px;
    width: 70px;    
}
/*####################################################################*/

main{
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
}

/*#################### Lista de Petianos ####################################*/
#petianos{
    display: flex;
    flex-direction: column;
    align-items: start;    
    overflow-y: auto;
    max-height: 200px;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 20px; 

}
#petianos label{
    display: flex;
    align-items:center;
    direction:rtl;  
}
/*##########################################################################*/



/*############ Cadastro Petiano ##################################*/
hr {
    border: 0px;
    border-top: 1px solid lightgray;
}
.modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}  
.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}
.active {
    display: flex;
}
  
.active .modal {
    animation: modal .4s;
}  
@keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}  
.btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}  
#salvarBT {
   background-color: blue!important;
}
  
#cancelarBT {
    background-color: brown!important;
}
  
@media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    .btns button {
      font-size: smaller;
    }
}
/*######################################################################*/